
main #getReady{
    display: flex;
    justify-content: center;
    align-items: center;
}
main #getReady #outerReadyContainer{
    background-color: var(--yellow);
    width: 80%;
    padding:4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4rem;
}
main #getReady #outerReadyContainer #leftSideReady{
    width: 40%;
}
main #getReady #outerReadyContainer #leftSideReady img{
    width: 25rem;
    min-width: 15rem;
}
main #getReady #outerReadyContainer #rightSideReady{
   width: 40%; 
   padding: 0 2rem;
}
main #getReady #outerReadyContainer #rightSideReady h2{
    padding: 1.2rem 0;
}
main #getReady #outerReadyContainer #rightSideReady h2 span{
    font-style: italic;
    font-weight: 500;
}
main #getReady #outerReadyContainer #rightSideReady p{
    padding-bottom: 1.2rem;
}
main #getReady #outerReadyContainer #rightSideReady a{
    background-color: black;
    color: var(--yellow);
    padding: 0.6rem 1rem;
    border-radius: 1.2em;
    transition: all 300ms ease;
}
main #getReady #outerReadyContainer #rightSideReady a:hover{
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
}

/* getReady media */

@media (max-width: 600px) {
    main #getReady #outerReadyContainer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
    }
    main #getReady #outerReadyContainer #leftSideReady{
        width: 100%;
    }
    main #getReady #outerReadyContainer #rightSideReady{
        width: 100%;
        padding: 2rem 0;
    }
}