
main #whatWeProvide{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    background-color: #FDF6E4;
}
main #whatWeProvide #leftsideProvideContainer{
    width: 48%;
}
main #whatWeProvide #leftsideProvideContainer img{
    width: 40rem;
    min-width: 20rem;
}
main #whatWeProvide #RightsideProvideContainer{
    width: 48%;
    padding: 2rem;
}
main #whatWeProvide #RightsideProvideContainer h2{
    padding: 0.6rem 0;
}
/* main #whatWeProvide #RightsideProvideContainer p{

}
main #whatWeProvide #RightsideProvideContainer p span{

} */

/* whatweprovde Media */
@media (max-width: 600px) {
    main #whatWeProvide{
        flex-direction: column;
    }
    main #whatWeProvide #leftsideProvideContainer{
        width: 100%;
    }
    main #whatWeProvide #RightsideProvideContainer{
        width: 100%;
    }
    main #whatWeProvide #RightsideProvideContainer h2{
        text-align: center;
    }
    main #whatWeProvide #RightsideProvideContainer p{
        text-align: center;
    }
}