
footer{
    display: flex;
    justify-content: center;
    color: white;
    background-color: #FDF6E4;
}
footer #wholeFooterContainer{
    background-color: black;
    border-radius: 2em 2em 0 0;
    width: 90%;
    padding: 2rem;
    padding-bottom: 1rem;
}
footer #footerMainList{
    display: flex;
    padding-bottom: 10rem;
}
footer #footerMainList #footerDescription{
    width: 40%;
    padding-bottom: 1rem;
}
footer #footerMainList #footerDescription img{
    width: 10rem;
}
footer #footerMainList #footerDescription p{
    color: rgba(250, 250, 250, 0.6);
    padding: 1.2rem 0;
    width: 60%;
}
footer #footerMainList #footerListContainer{
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}
footer #footerMainList #footerListContainer .footerListItems{
    width: 33%;
}
footer #footerMainList #footerListContainer .footerListItems h4{
    font-size: 1.4rem;
    padding-bottom: 1.2rem;
}
footer #footerMainList #footerListContainer .footerListItems ul{
    list-style: none;
}
footer #footerMainList #footerListContainer .footerListItems ul li{
    padding: 0.6rem 0;
}
footer #footerMainList #footerListContainer .footerListItems ul li a{
    color: rgba(250, 250, 250, 0.6);
    transition: all 200ms ease;
}
footer #footerMainList #footerListContainer .footerListItems ul li a:hover{
    color: white;
    cursor: pointer;
}
footer #copyRights{
    display: flex;
    justify-content: space-between;
}
footer #copyRights p{
    color: rgba(250, 250, 250, 0.6);
}

/* footer media */

@media (max-width: 600px) {
    footer #footerMainList{
        flex-direction: column;
        flex-wrap: wrap;
    }
    footer #wholeFooterContainer{
        width: 100%;
    }
    footer #footerMainList #footerDescription{
        width: 100%;
    }
    footer #footerMainList #footerDescription p{
        width: 100%;
    }
    footer #footerMainList #footerListContainer{
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: start;
    }
}